.content {
  width: 100%;


  @media (min-width: 576px) {
    &-img {
      width: 400px !important;
    }

    &-from {
      width: calc(100% - 460px);
      float: left;
    }

    &-view {
      width: 423px;
      float: right;
    }
  }
  @media (max-width: 576px) {
    &-img {
      width: 400px;
    }
    width: 100%;
    &-from {
      width: 100%;
    }
    &-view {
      padding-top: 30px;
      width: 100%;

    }
  }

}